.left-side-background{
    -fx-background-color: #373737;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.border{
    -fx-border-color: #373737;
    -fx-border-width: 1.5;
}

.text-username, .text-password{
    -fx-prompt-text-fill: WHITE;
    -jfx-focus-color: WHITE;
    -jfx-unfocus-color: WHITE;
}

.btnLogin:hover{
    -fx-background-color: #4b4b4b;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

.btnClose:hover{
    -fx-background-color: #f5564a;
}

.txLabel{
    -fx-underline: true;
}

.txLabel:hover{
    -fx-underline: true;
    -fx-color: #212121;
}

/*Session-View*/

.profile-layout{
    -fx-background-color: #f89c0e;
    -fx-background-radius: 0 0 50 50;
}

.white-background{
    -fx-background-color: #fff;
}